<nav class="navbar navbar-expand-lg navbar-light head-conatiner">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><h2>Data Visualization</h2></a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>
    <div *ngIf="visualizeMode">
      <form class="d-flex" enctype="multipart/form-data">
        <input class="form-control me-2" type="file" aria-label="Search" accept=".csv" (change)="onAddData($event)">
      </form>
    </div>
</nav>
  