<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Data Visualization</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="container-fluid">
      <form class="d-flex" enctype="multipart/form-data">
        <input class="form-control me-2" type="file" aria-label="Search" accept=".csv" (change)="onAddData($event)">
      </form>
    </div>
</nav>
  