<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Comming Soon...!</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="card-title">Line Charts</h4>
                                    <p class="card-text">Multi-Line chart for more complex analysis soon be added.</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4 overflow-hidden" style="height: 312px">
                                   <img src="../../../assets/images/lineChart.jpg" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="card-title">Maps</h4>
                                    <p class="card-text">We will soon be adding polygon functionality to our map for enhanced spatial analysis and visualization. Stay tuned!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4 overflow-hidden" style="height: 312px">
                                    <img src="https://miro.medium.com/v2/resize:fit:1150/1*QRf2UmCIrRteHb_i8p32Xg.png" class="img-fluid w-100">
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
                                    <h4 class="card-title">Bar Chart</h4>
                                    <p class="card-text">Multi-Bar chart for more complex analysis soon be added</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4 overflow-hidden" style="height: 312px">
                                    <img src="https://docs.tibco.com/pub/spotfire/7.0.1/doc/html/images/bar_chart_example2.png" class="img-fluid">
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>