<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="i" *ngFor="let tab of data; let i = index">
        <!-- class="text-truncate" style="max-width: 150px;"  -->
        <button ngbNavLink [ngbTooltip]="tab.name" placement="top" container="body">{{tab.name }}<span>&nbsp;&nbsp;</span><i class="bi bi-x-lg icon" style="color: red;" (click)="close($event)"></i></button>
        <ng-template ngbNavContent>
            <app-table-view [data]="tab"></app-table-view>
            <!-- <app-bar-chart [data]="tab.data" [index]="i" [property]="tab.charts"></app-bar-chart> -->
             <!-- <ng-container #chartPlace></ng-container> -->
              <app-chart [data]="tab"></app-chart>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
